manifest {
    homePage = 'https://github.com/c3g/runvalidation'
    description = 'A nextflow pipeline for rendering and uploading run reports to aid in run validation'
    version = '0.0.1'
    defaultBranch = 'main'
}

profiles {
    test_no_demux {
        params {
            eventfiles = 'assets/test/no-demux/*_samples.txt'
            noupload = true
        }
    }
    test_t7_c3g_demux {
        params {
            eventfiles = 'assets/test/t7-c3g-demux/*_samples.txt'
            noupload = true
        }
    }
    test_t7_mgi_demux {
        params {
            eventfiles = 'assets/test/t7-mgi-demux/92-sureselect_samples.index1.txt'
            noupload = true
        }
    }
}